html {
	box-sizing: border-box;
    &.active-scroll {
        overflow: scroll !important;
        height: auto !important;
    }
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
    font-family: $font__main;
}

body,
button,
input,
select,
textarea,
address {
    color: $color__text-main;
    font-size: 0.75rem;
    font-size: 1.3vh;
    line-height: $font__line-height-body;
    text-align: center;
    //font-weight: 700;
}

button,
input,
select,
textarea,
address {
    font-family: $font__alt;
}


body {
    &.black-ui * {
        color: $color__textalt-main !important;
        fill: $color__textalt-main;
        ::-webkit-input-placeholder {
            color: $color__textalt-main;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: $color__textalt-main;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            color: $color__textalt-main;
        }

        :-ms-input-placeholder {
            color: $color__textalt-main;
        }
    }
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

// dt {
// 	font-weight: bold;
// }

// dd {
// 	margin: 0 1.5em 1.5em;
// }

figure {
    margin: 0;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

a {
    color: $color__link;
    text-decoration: none;

    &:visited {
        color: $color__link-visited;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
        text-decoration: underline;
    }
    &:focus {
        outline: 0;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}

blockquote {
    margin: 0 1.5em;
}

address {
    //width: 100%;
    font-style: normal;
}

big {
    font-size: 125%;
}

[role="main"] {
    transform: translatex(0);
    transition: transform .5s ease;
    .show-menu & {
        transform: translatex($size-sidebar);
    }
    > article {
        visibility: hidden;
    }
    > h1 {
        display: none;
    }
}

.so-widget-sow-image {
    position: relative;
    color: white;
    height: 100% !important;
    a:hover {
        text-decoration: none;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: " ";
            text-decoration: none;
            background: rgba(255,255,255,.6);
        }
    }
    img {
        width: 100%;
        height: 100% !important;
        max-height: 100% !important;
        object-fit: cover;
        object-position: top;
        &.large {
            width: 75%;
            height: auto !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &.medium {
            width: 50%;
            height: auto !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    span {
        width: 100%;
    }
    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 11.5em;
        font-size: 15vh;
        line-height: 0.9;
        small {
            display: block;
            //font-size: 14px;
            font-size: 0.125em;
            font-family: $font__alt;
            text-transform: uppercase;
            letter-spacing: 6px;
        }
    }
    .ref {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60px;
        line-height: 60px;
        font-size: 12px;
        font-family: $font__alt;
        font-weight: 700;
        text-align: left;
        padding-left: 4%;
        color: black;
        background-color: white;
        opacity: 0;
        transition: opacity .5s;
        &:before {
            content: "Ref. ";
        }
    }
}

.widget-title {
    font-family: $font__alt;
    font-size: 1em;
    padding-top: 15px !important;
    .black-ui & {
        border-top: 1px solid $color__textalt-main;
    }
}

.textwidget {
    position: absolute;
    width: 100%;
    &:first-of-type {
        top: 50%;
        transform: translatey(-50%);
        padding: 0 17%;
        font-size: 4em;
        font-size: 5.5vh;
        line-height: 1;
        &:before {
            content: '';
            display: block;
            height: $size-header;
        }
        h1 {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translatey(-50%);
            width: 100%;
            margin: 0;
            letter-spacing: -1px;
        }
        p {
            letter-spacing: -1px;
        }
    }
    &:last-of-type:not(:first-of-type) {
        bottom: 2%;
        left: 50%;
        transform: translatex(-50%);
        > * {
            font-size: 0.9em !important;
        }
        h2 {
            width: 110px;
            width: 12vh;
            margin: 0 auto;
            font-size: 1em;
            font-family: $font__alt;
            text-transform: uppercase;
            letter-spacing: 6px;
            line-height: 1.6;
        }
    }
    .panel-row-style.video & {
        height: 100%;
        padding: 0;
    }
    .panel-row-style.press-gallery & {
        padding: 0;
        font-size: 0;
        img {
            display: inline-block;
            // height: 333px;
            // height: 32vh;
            width: 100%;
        }
    }
}

.fve-video-wrapper {
    margin: 0 !important;
    padding-bottom: 0 !important;
    width: 100%;
    height: 100% !important;
    top: -128px;
}

// .panel-row-style-video,
// .fve-video-wrapper {
//     &:after,
//     &:before {
//         content: " ";
//         position: fixed;
//         display: block;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 90%;
//         z-index: 9;
//         background-color: rgba(255,255,255,.4);
//         pointer-events: none;
//     }
// }

// .fve-video-wrapper {
//     iframe {
//         z-index: 10;
//         //pointer-events: none;
//     }
// }

.wwm_socialshare_imagewrapper {
    display: block;
    height: 100%;
    .press-gallery & {
        display: inline-block;
        position: relative;
        max-width: 15%;
        // &:nth-child(6):after {
        //       content: "\A";
        //       /* display: block; */
        //       /* width: 1px; */
        //       white-space: pre;
        // }
    }
    img {
        display: block;
    }
    .alt {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
        margin-bottom: 20px;
        font-size: 12px;
        font-family: $font__alt;
        color: #000;
        display: block;
        width: 100%;
        text-align: center;
        visibility: hidden;
    }
    &:hover {
        .ref {
            opacity: 1;
        }
        .alt {
            visibility: visible;
        }
    }
}

.wwm_social_share.wwm_bottom_left {
    position: absolute;
    display: block;
    opacity: 0;
    transition: opacity .5s;
    background: none;

    .wwm_socialshare_imagewrapper:hover & {
        opacity: 1
    }

    li {
        background: none;
        color: black;
        width: auto;
        display: inline-block;
        font-size: 1rem;
        //font-size: 5.2vh;
        &:last-child {
            margin-right: 0 !important;
        }
        &:before {
            display: block;
        }
        .press-gallery & {
            height: auto;
            vertical-align: middle;
            margin: 16vh 5% 0 0 !important;
            //font-size: 4vh;
        }
        picture & {
            margin: 0 12px !important;
            height: 60px;
            line-height: 60px !important;
        }
    }

    picture & {
        right: 2%;
        left: auto;
        bottom: 0;
        text-align: right;
        z-index: 2;
        height: 60px;
        // [class*="wwm_"] {
        //     font-family: $font__alt;
        //     font-size: 1.2em;
        //     font-weight: 700;
        // }
        // .wwm_facebook {
        //     &:before {
        //         content: "Facebook" !important;
        //     }
        // }
        // .wwm_twitter {
        //     &:before {
        //         content: "Twitter" !important;
        //     }
        // }
        // .wwm_pinit {
        //     &:before {
        //         content: "Pinterest" !important;
        //     }
        // }
    }

    .press-gallery & {
        text-align: center;
        width: 100%;
        height: 100%;
        // height: 333px;
        // height: 32vh;
        width: 100%;
        height: 100%;
        padding: 0;
        background: rgba(255,255,255,.6);
    }
}

.alt-gallery {
    display: none;
    visibility: visible !important;
    ul {
        margin: 0;
        padding: 25px;
        text-align: center;

        li {
            display: inline-block;
            width: 128px;
            margin: 25px;
        }
    }

    &:before {
        content: "";
        display: block;
        height: $size-header;
    }
    .title, .ref {
        display: none;
    }
    a:hover img {
        opacity: .6;
    }
}

@media screen and (max-width: $breakpoint_tablet) {

    [role="main"] {
        .show-menu & {
            transform: translatex($size-sidebar_tablet);
        }
    }

    .alt-gallery {

        &:before {
            content: "";
            display: block;
            height: $size-header_mobile;
        }
    }

    .so-widget-sow-image {
        .title {
            font-size: 9.4em;
            font-size: 16.3vw;
        }
    }

    .textwidget {
        &:first-of-type {
            font-size: 3em;
            font-size: 4vh;
            padding: 0 13%;
        }
        // .panel-row-style.video & {
        //     height: 100%;
        //     padding: 0;
        // }
        // .panel-row-style.press-gallery & {
        //     img {
        //         height: auto;
        //         width: 10.5rem;
        //         width: 22vw;
        //     }
        // }
    }

    // .wwm_socialshare_imagewrapper {
    //     .press-gallery & {
    //         display: inline;
    //         &:nth-child(6):after{
    //               content: none;
    //         }
    //     }
    // }

    .wwm_social_share {
        // .press-gallery & {
        //     width: 10.5rem;
        //     width: 22vw;
        //     height: 25vh;
        // }

        li {
            .press-gallery & {
                margin: 12vh 5% 0 0 !important;
            }
        }
    }

}

@media screen and (max-width: $breakpoint_tablet) and (orientation : portrait) {

    .wwm_socialshare_imagewrapper {
        .press-gallery & {
            max-width: 21%;
        }
    }

    .wwm_social_share {
        // .press-gallery & {
        //     width: 10.5rem;
        //     width: 22vw;
        //     height: 25vh;
        // }

        li {
            .press-gallery & {
                margin: 12vh 5% 0 0 !important;
            }
        }
    }

}

@media screen and (max-width: $breakpoint_mobile) {

    [role="main"] {
        .show-menu & {
            transform: translatex($size-sidebar_mobile);
        }
    }

    .wwm_socialshare_imagewrapper {
        .press-gallery & {
            max-width: 26%;
        }
    }

    .wwm_social_share {
        // .press-gallery & {
        //     height: 18.5vh;
        // }

        li {
            .press-gallery & {
                // margin: 5vh 6% 0 0 !important;
                // font-size: 10px;
                display: none;
            }
        }
    }

    .textwidget {
        &:first-of-type {
            font-size: 2em;
            font-size: 3.4vh;
            &:before {
                height: $size-header_mobile;
            }
        }
        .panel-row-style.press-gallery & {
            padding: 0 10%;
        }
    }

    .alt-gallery {

        &:before {
            height: $size-header_mobile;
        }

        ul {
            padding: 0;
            li {
                margin: 16px;
            }
        }
    }

}
