@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=f955a184-c0b1-4bc2-b78d-fd1a619f3043&fontids=693095,710616");
@font-face{
font-family:"Plantin W01 Light";
src:url("fonts/693095/1a3074c0-1dfa-4c4a-9ab7-ba43a8c9da76.eot?#iefix");
src:url("fonts/693095/1a3074c0-1dfa-4c4a-9ab7-ba43a8c9da76.eot?#iefix") format("eot"),url("fonts/693095/59e2b46f-b32c-470f-a4df-0ceb98303462.woff2") format("woff2"),url("fonts/693095/c046bc03-14a3-495c-9044-bf4e3d1f42b2.woff") format("woff"),url("fonts/693095/66f7785c-7a09-4fec-adc6-67510f73c305.ttf") format("truetype"),url("fonts/693095/e65cd52b-7573-41b6-adb9-171afa04e0df.svg#e65cd52b-7573-41b6-adb9-171afa04e0df") format("svg");
}
@font-face{
font-family:"PlantinW01-BoldCondense";
src:url("fonts/710616/228501ef-6fbe-4e21-b6c4-4b9c4b3bc603.eot?#iefix");
src:url("fonts/710616/228501ef-6fbe-4e21-b6c4-4b9c4b3bc603.eot?#iefix") format("eot"),url("fonts/710616/2a6c6fe0-9e61-441a-8ad6-13617684b9b6.woff2") format("woff2"),url("fonts/710616/15b63914-0780-4a5c-b14d-4fd551abc575.woff") format("woff"),url("fonts/710616/0495e08f-35a2-438c-81f9-ba6e75543dc8.ttf") format("truetype"),url("fonts/710616/b0ed65dd-288a-4702-9d1f-0d60fd03f678.svg#b0ed65dd-288a-4702-9d1f-0d60fd03f678") format("svg");
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-og2uls');
    src:url('fonts/icomoon.eot?#iefix-og2uls') format('embedded-opentype'),
        url('fonts/icomoon.ttf?-og2uls') format('truetype'),
        url('fonts/icomoon.woff?-og2uls') format('woff'),
        url('fonts/icomoon.svg?-og2uls#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
.fp-controlArrow,
.toggle-menu,
.fp-down,
.fp-up,
[class*="wwm_"],
a.pp_previous:before,
a.pp_next:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flecha_dcha:before, .fp-next:before, .pp_next:before {
    content: "\e600";
}
.icon-flecha_izq:before, .fp-prev:before, .fp-down:before, .fp-up:before, .pp_previous:before{
    content: "\e601";
}
.icon-menu_abierto:before, .toggle-menu:before {
    content: "\e602";
}
.icon-menu_cerrado:before {
    content: "\e603";
}
.icon-pinterest:before, .wwm_pinit:before {
    content: "\e60b" !important;
    position: relative;
}
.icon-google-plus:before {
    content: "\ea88";
}
.icon-facebook:before, .wwm_facebook:before {
    content: "\ea8c" !important;
    top: -2px;
    position: relative;
}
.press-gallery .wwm_facebook:hover:before {
    top: -7px;
}
.icon-instagram:before {
    content: "\ea90";
}
.icon-twitter:before, .wwm_twitter:before {
    content: "\ea91" !important;
    position: relative;
}
.icon-vimeo:before {
    content: "\ea9c";
}
.icon-linkedin2:before, .wwm_linked:before {
    content: "\eac9" !important;
    position: relative;
}

.press-gallery .wwm_twitter:hover:before,
.press-gallery .wwm_pinit:hover:before,
.press-gallery .wwm_linked:hover:before {
    top: -5px;
}
