form {
    // margin-top: 2.5em;
    // margin-top: 10vh;
    p {
        margin: 0;
    }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 0;
    border-top: 0;
    border: 1px solid $color__border-button;
    padding-right: 0;
    padding-left: 0;
    color: $color__text-input;
    font-size: 1.25rem;
    font-size: 2.12vh;
    line-height: 2.2;
    background: none;
    box-shadow: none;
    padding: 0 30px;

    &:hover {
        border-color: $color__border-button-hover;
    }

    &:active,
    &:focus {
        border-color: $color__border-button-focus;
        outline: none;
    }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: $color__text-input;
    border: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid $color__border-button;
    text-align: left;
    outline: none;
    font-size: 1.25rem;
    font-size: 2.12vh;
    width: 100%;
    box-shadow: none;
    margin-bottom: 1.25rem;
    margin-bottom: 7.2vh;

    &:focus {
        color: $color__text-input-focus;
        outline: none;
    }
}

textarea {
    padding-left: 3px;
    width: 100%;
}

::-webkit-input-placeholder {
    color: $color__text-input;
}

:-moz-placeholder { /* Firefox 18- */
    color: $color__text-input;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $color__text-input;
}

:-ms-input-placeholder {
    color: $color__text-input;
}

input[placeholder] {
    color: $color__text-input;
}

body.black-ui [class*='not-valid-tip'],
body.black-ui [class*='validation-errors'] {
    color: #c6c6c6 !important;
    font-size: 15px !important;
    font-family: $font__alt;
    border: 0 !important;
    margin-top: -50px;
    letter-spacing: 0 !important;
}
body.black-ui [class*='validation-errors'] {
    margin-top: 10px;
}

div[class$='mail-sent-ok'] {
    border: 0;
    font-size: 0.35em;
    margin-top: 10px;
}
