.panel-grid-cell {
    height: 100%;
    position: relative;
    background-color: $second-color;
    .panel-row-style.white  & {
        background-color: $first-color;
        color: $second-color;
    }
    /* one item */
    &:nth-child(1):nth-last-child(1) {
      width: 100%;
    }

    /* two items */
    &:nth-child(1):nth-last-child(2),
    &:nth-child(2):nth-last-child(1) {
      width: 50%;
      float: left;
    }

    /* three items */
    &:nth-child(1):nth-last-child(3),
    &:nth-child(2):nth-last-child(2),
    &:nth-child(3):nth-last-child(1) {
      width: 33.3333%;
      float: left;
    }
}

.panel-row-style {
  height: 100%;
  &.top-padding .panel-grid-cell:before {
    content: "";
    display: block;
    height: $size-header;
  }
}

@media screen and (max-width: $breakpoint_tablet) {

    .panel-row-style {
      &.top-padding .panel-grid-cell:before {
        height: $size-header_tablet;
      }
    }

}

@media screen and (max-width: $breakpoint_mobile) {

    .panel-row-style {
      &.top-padding .panel-grid-cell:before {
        height: $size-header_mobile;
      }
    }

}
