[role="navigation"] {
    //display: none;
    width: $size-sidebar;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    padding: 36px;
    transform: translatex(-(100%));
    transition: transform .5s ease;
    .show-menu & {
        transform: translatex(0);
    }
    [class*=menu]{
        text-align: left;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        ul {
            margin: 20px 0 20px 34px;
        }
    }
    li {
        &:not(:last-child) {
            margin-bottom: 19px;
        }
        a {
            font-family: $font__alt;
            font-size: 20px;
            color: $second-color;
            border-bottom: 1px solid transparent;
            &:hover {
                text-decoration: none;
                border-color: $color__border-button;
            }
        }
    }
}

.social-links {
    width: 100%;
    position: absolute;
    bottom: 3%;
    text-align: left;
    list-style: none;
    li {
        display: inline-block;
        margin: 0 3%;
        &:first-child {
            margin-left: -6px;
        }
    }
    a {
        &:hover, &:focus {
            text-decoration: none !important;
            border: 0;
        }
        [class*="icon"] {
            position: relative;
        }
        &:hover {
            [class*="icon"] {
                top: -5px;
            }
        }
    }
}

@media screen and (max-width: $breakpoint_tablet) {

    [role="navigation"] {
        width: $size-sidebar_tablet;
        ul {
            ul {
                margin: 14px 0 14px 34px;
            }
        }
        li {
            &:not(:last-child) {
                margin-bottom: 13px;
            }
        }
    }

}

@media screen and (max-width: $breakpoint_mobile) {

    [role="navigation"] {
        width: $size-sidebar_mobile;
        padding: 26px 36px;
        ul {
            ul {
                margin: 10px 0 10px 25px;
            }
        }
        li {
            &:not(:last-child) {
                margin-bottom: 11px;
            }
            a {
                font-size: 14px;
            }
        }
    }

}
