/**
 * fullPage 2.6.4
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */

html.fp-enabled, .fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
  height: 100%;
  display: block;
}

.fp-slidesContainer {
  height: 100%;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translatey(-50%);
  margin-top: 0;
  cursor: pointer;
  color: white;
  font-size: 50px;
  .black-ui & {
    color: black;
  }
  &.fp-prev {
    left: 50px;
    body.fp-viewing-firstPage-0 &,
    body.fp-viewing-secondPage-0 &,
    body.fp-viewing-thirdPage-0 &,
    body.fp-viewing-fourthPage-0 &, {
      display: none;
    }
  }
  &.fp-next {
    right: 50px;
  }
}

.fp-down {
  position: fixed;
  z-index: 4;
  top: 660px;
  right: 50%;
  transform: translatex(50%);
  cursor: pointer;
  font-size: 50px;
  display: block;
  color: white;
  .black-ui & {
    color: black;
  }
  &:before {
    transform: rotate(-90deg);
    display: block;
  }
  body.last-section & {
    display: none !important;
  }
  &:hover {
    text-decoration: none !important;
  }
}

.fp-up {
  position: fixed;
  z-index: 4;
  top: 660px;
  right: 50%;
  transform: translatex(50%);
  cursor: pointer;
  font-size: 50px;
  width: 75px;
  height: 75px;
  display: block;
  color: white;
  &:before {
    transform: rotate(90deg);
    display: block;
    line-height: 105px;
  }
  &:hover {
    text-decoration: none !important;
  }
}

.fp-scrollable {
  overflow: scroll;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  &.right {
    right: 17px;
  }
  &.left {
    left: 17px;
  }
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
  &.bottom {
    bottom: 17px;
  }
  &.top {
    top: 17px;
  }
}

#fp-nav ul, .fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 15px 7px 15px;
  position: relative;
}

.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  display: inline-block;
}

#fp-nav ul li a, .fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li a.yo span,
#fp-nav ul li:hover a.yo span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li a:hover span, .fp-slidesNav ul li a:hover span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

@media screen and (max-width: $breakpoint_tablet) {

  .fp-controlArrow,
  .fp-down,
  .fp-up {
    font-size: 4em;
  }

  .fp-controlArrow {
    &.fp-prev {
      left: 40px;
    }
    &.fp-next {
      right: 40px;
    }
  }

}

@media screen and (max-width: $breakpoint_mobile) {

  .fp-controlArrow {
    &.fp-prev {
      left: 15px;
    }
    &.fp-next {
      right: 15px;
    }
  }

}
