[role="header"] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: $size-header;
    background: transparent;
    //border-bottom: 1px solid transparent;
    transform: translatex(0);
    transition: transform .5s ease;
    //transition: transform $change-ui-animation, border-color $change-ui-animation;
    .show-menu & {
        transform: translatex($size-sidebar);
    }
    // .black-ui & {
    //     border-bottom: 1px solid $color__textalt-main;
    // }
}

.toggle-menu {
    color: white;
    font-size: 33px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translatey(-50%);
    margin-top: -19px;
    cursor: pointer;
    .black-ui & {
        color: black;
    }
    .show-menu &:before {
        content: "\e603";
    }
}

.logo {
    margin: 0;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    a {
        border: 0 !important;
    }
    svg * {
        fill: white;
        //transition: fill $change-ui-animation;
        .black-ui & {
            fill: $color__textalt-main;
        }
    }
}

.toggle-gallery-in {
    //background: url(images/gallery-in.svg) 0 0 no-repeat;
    width: 27px;
    height: 20px;
    display: block;
    position: absolute;
    top: 24%;
    right: 90px;
    fill: white;
    cursor: pointer;
    visibility: hidden;
}

#lang_sel_list {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translatey(-50%);
    margin-top: -21px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
    }
    a {
        font-size: 1em;
        font-family: $font__alt;
        font-weight: 700;
        border-bottom: 1px solid transparent;
        &:hover {
            text-decoration: none;
            border-color: inherit;
        }
    }
}

.menu-item-language,
.menu-item-language-current,
.lang_sel_sel {
    display: none;
}


@media screen and (max-width: $breakpoint_tablet) {

    [role="header"] {
        height: $size-header_tablet;
        .show-menu & {
            transform: translatex($size-sidebar_tablet);
        }
    }

    .toggle-menu {
        left: 40px;
        margin-top: 0;
    }

    .logo {
        width: 130px;
    }

}

@media screen and (max-width: $breakpoint_mobile) {

    [role="header"] {
        height: $size-header_mobile;
        .show-menu & {
            transform: translatex($size-sidebar_mobile);
        }
    }

    .toggle-menu {
        left: 25px;
        font-size: 18px;
    }

    .logo {
        width: 85px;
    }

    #lang_sel_list {
        display: none;
    }

    .menu-item-language:not(.menu-item-language-current) {
        display: block;
    }

}
