$first-color: #fff;
$second-color: #000;

$color__background-body: $first-color;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;

$color__text-main: $first-color;
$color__textalt-main: $second-color;
$color__text-screen: $color__text-main;
$color__text-input: $color__text-main;
$color__text-input-focus: $color__text-main;
$color__link: $first-color;
$color__link-visited: color__link;
$color__link-hover: color__link;

$color__border-button: $second-color;
$color__border-button-hover: $color__border-button;
$color__border-button-focus: $color__border-button;
$color__border-input: $color__border-button;
$color__border-abbr: $color__border-button;

$font__main: 'PlantinW01-BoldCondense', Georgia, sans-serif;
$font__alt: 'futura-pt', Arial, sans-serif;
//$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
//$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.4;
//$font__line-height-pre: 1.6;

//$size__site-main: 100%;
$size-sidebar: 367px;
$size-sidebar_tablet: 50%;
$size-sidebar_mobile: 70%;

$size-header: 128px;
$size-header_tablet: 100px;
$size-header_mobile: 67px;

$change-ui-animation: .7s ease-in;

$breakpoint_tablet: 1023px;
$breakpoint_mobile: 540px;
